.title{
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 50px;
    margin-right: 100px; /* Adicionando uma margem à direita para separar o título da barra de navegação */
    margin-bottom: 0; /* Remover margem inferior do título */
}

.nav-item{
    font-weight: 700;
    font-style: normal;
}

.navbar-nav {
    padding-right: 70px; /* Adicione espaçamento interno à direita */
    font-family: 'Florencesans SC Black', sans-serif;;
}
.nav-item {
    padding-left: 70px; /* Adicione espaçamento interno à esquerda */
}