/*Regra para aplicar estilos em resoluções diferentes, como no dispositivo móvel*/

@media (max-width: 1022px) {

    body {
        margin-right: 0 !important;
    }

    .title.p-3 {
        margin-left: 0 !important;
    }

    #section1 {
        flex-direction: column;
    }

    #section1 .col-md-6 {
        width: auto;
    }

    #introducao {
        margin-bottom: 20px;
    }

    #imagemSec1 {
        height: 430px;
        margin-bottom: 20px;
    }

    .subtitle {
        display: none;

    }

    #section2 {
        padding-bottom: 0px !important;
    }

    #eusou {
        text-align: left;
        /* Centraliza o texto "Mas quem sou eu?" */
    }

    #parSobre {
        margin-top: 20px;
        padding-left: 3px;
        padding-right: 20px;
    }

    .button2,
    .button3 {
        width: 50%;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 140px;
        /* Adicionar margem à esquerda para separar os botões */
        margin-bottom: 10px;
    }


    #imagem {
        padding: 0;
        display: block;
        /* Garante que a imagem seja exibida como bloco */
        max-width: 100%;
        /* Garante que a imagem não ultrapasse a largura do contêiner */
        height: 100%;
        /* Mantém a proporção da imagem */
        margin-bottom: 0;

    }

    #secaoFotos {
        padding-left: 0 !important;
    }


    .mini-footer {
        padding-left: 0 !important;
    }

    .container {
        padding-right: 0;
    }

}

/*Regra para modo escuro*/

.dark-mode {
    background-color: #141414;
    /* Cor de fundo geral */
    color: #cccccc;
    /* Cor do texto geral */
}

.dark-mode .title.p-3 {
    color: #cccccc;
}

.dark-mode #nav-items {
    color: #cccccc;
}

.dark-mode .nav-link {
    color: #cccccc;
}

/* Definindo cores de fundo para seções específicas */
.dark-mode #section1 {
    color: #cccccc;
    background-color: #313131;
}

.dark-mode #section2 {
    background-color: #141414;
    color: #cccccc;
    padding-bottom: 20px;
}

.dark-mode #section3 {
    background-color: #313131;
    color: #cccccc;
}

/*Início*/

body {
    min-height: 100vh;

    overflow-x: hidden;
    /* Desabilita a barra de rolagem vertical */
}

.title {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 50px;
    margin-bottom: 0;
}

/*Barra de navegação  */

.nav-item {
    font-weight: 700;
    font-style: normal;
    margin-left: 20px;
}

.navbar-nav {
    padding-right: 70px;
    font-family: 'Florencesans SC Black', sans-serif;
}

/* Estilizando o botão de toggle da barra de navegação */
.navbar-toggler {
    margin-right: 10px;
    border: none;
    background-color: transparent;
    outline: none !important;
    /* Remover a borda de foco */
    box-shadow: none !important;
}

/* Estilizando o ícone do botão de toggle quando o menu está colapsado */
.navbar-toggler-icon.collapsed {
    outline: none !important;
    box-shadow: none !important;
}

.nav-item {
    padding-left: 70px;
}

#nav-items {
    justify-content: center;
}

/*Seção 1*/

#section1 {
    background-color: #f0efef;
}

.texto {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 80px;
    margin-right: 40px;
}

.button {
    /*Cor e fonte*/
    background-color: #141414;
    color: #f0efef;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;

    /*Borda*/
    border: none;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

    /*Posição*/
    margin-left: 75px;
    margin-top: 2px;

    /*Detalhes*/
    text-decoration: none;
}

.button:hover {
    color: #141414;
    background-color: #f0efef;
    border: #141414;
    border-width: 2px;
    border-style: solid;
}


/*Seção 2*/

#section2 {
    background-color: #141414;
    color: #f0efef;
    padding-bottom: 20px;

}

.subtitle {
    font-family: 'Florencesans SC Black', sans-serif;
    font-size: 20px;
    text-align: right;
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 10px;
}

#eusou {
    padding-top: 80px;
}

.container {
    margin: 0;
    padding-left: 15px;
}

.sobremim {
    margin-left: 70x;
}

#div-img {
    padding-right: 0;
}

#imagem {
    margin-right: 90px;
}


#parSobre {
    margin-left: 80px;
}

.button2 {
    /*Cor e fonte*/
    background-color: #f0efef;
    color: #141414;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;

    /*Borda*/
    border: none;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

    /*Detalhes*/
    text-decoration: none;
}

.button2:hover {
    color: #f0efef;
    background-color: #141414;
    border: #f0efef;
    border-width: 2px;
    border-style: solid;
}

#italico {
    font-size: 13px;
    margin-left: 90px;
}

.button3 {
    /*Cor e fonte*/
    background-color: #f0efef;
    color: #141414;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;

    /*Borda*/
    border: none;
    padding: 10px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;

    /*Detalhes*/
    text-decoration: none;
}

.button3:hover {
    color: #f0efef;
    background-color: #141414;
    border: #f0efef;
    border-width: 2px;
    border-style: solid;
}

#imagem-container {
    text-align: right;
    padding-right: 90px;
    /* Alinha a imagem à esquerda */
}

#section3 {
    background-color: #f0efef;
    padding-top: 100px;
    padding-right: 0 !important;
}

#title2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

#texto2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

#container-fotos {
    padding: 20px;
}

/*Footer*/

.mini-footer {
    background: #141414;
    text-align: center;
    padding: 32px 0 23px 82px;

}

.mini-footer p {
    margin: 0;
    line-height: 26px;
    font-size: 15px;
    color: #f0efef
}

.mini-footer p a {
    color: #5867dd
}

.mini-footer p a:hover {
    color: #34bfa3
}

a {
    color: #5867dd;
    text-decoration: none;
}

a:focus,
a:hover {
    text-decoration: none;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease
}

a:focus {
    outline: 0
}